h1{
    color: rgb(19, 3, 3);
    font-size: 50px;
}
h2{
    color: rgb(176, 235, 117);
    font-size: 40px;
}
a{
    color: rgb(61, 145, 184);
    font-size: 30px;
    background-color: rgb(222, 135, 186);
}